.nav-holder {
    position: fixed;
    right: 0;
    top: 0;
    float: right; }
  
  .bars {
    display: none; }
  
  .bars .bar {
    display: block;
    width: 35px;
    margin: 5px 0;
    background-color: #edd15d;
    height: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  
  .bars.active .bar:nth-child(2) {
    opacity: 0; }
  
  .bars.active .bar:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg); }
  
  .bars.active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg); }
  
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #3d405b;
    height: 60px;
    width: 60vw;
    margin-top: 20px;
    margin-left: -10px;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-transition: height 0.4s ease-in-out, opacity 0.2s ease-in-out;
    -o-transition: height 0.4s ease-in-out, opacity 0.2s ease-in-out;
    transition: height 0.4s ease-in-out, opacity 0.2s ease-in-out; }
  
    .links.active {
      height: 70px;
      opacity: 1; }
    
     

  a {
    color: #edd15d;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    border: solid 3px lightcoral;
    border-radius: 12%; }

    @media screen and (max-width: 960px) {
        .bars {
          display: block;
          position: absolute;
          top: 10px;
          right: 10px; }
        .links {
          height: 0;
          opacity: 0;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin-top: 0;
          width: 100vw; }
        .links.active {
          height: 100vh;
          opacity: 1; } }

          @media screen and (max-width: 960px) {
            .header .site-logo {
              width: 125px;
              height: 125px;
              background-image: url(../images/tastychaos125x125.jpg); } }